/* Global Styles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

body {
  font-family: 'PT Mono', monospace;
}

.text-white {
  color: #ffffff;
}

/* navbar */
.navbar-brand h1 {
  font-family: 'Permanent Marker', cursive;
  margin: 0;
  font-size: 24px;
}

.navbar-brand {
  padding: 10px;
}

.home-section {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
}


/* reservation section */
.reservation-section {
  background: #eeeeee;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Small Screens */
@media only screen and (min-width : 768px) {
}

/* Medium Screens */
@media only screen and (min-width : 992px) {
}

/* Large Screens */
@media only screen and (min-width : 1200px) {
}
